[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

django = "*"
gunicorn = "*"
django-heroku = "*"
requests = "*"
django-storages = "*"
django-compressor = "*"
boto = "*"
"boto3" = "*"
twilio = "*"
"jsonify;" = "*"


[requires]

python_version = "3.6"
